<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
		<script src="https://unpkg.com/vue/dist/vue.js"></script>
		<link href="./bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
		<script type="text/javascript" src="./bootstrap/dist/js/bootstrap.min.js"></script>
		
		<link rel="stylesheet" href="./css/side.css" type="text/css"/>
	</head>
	<body>
		<div id="app">
			<div id="container">
				<div id="top">
					<div id="top_time">
						当前时间：{{nowTime}}
					</div>
					<div id="top_img">
						
					</div>
					<div id="top_nav">
						<ul class="nav nav-pills nav-justified">
							<li><a href="login.html">登录</a></li>
							<li><a href="index.html">首页</a></li>
							<li><a href="culture.html">传统文化</a></li>
							<li><a href="food.html">美食</a></li>
							<li class="active"><a href="side.html">周边娱乐</a></li>
							<li><a href="history.html">发展</a></li>	
							<li><a style="cursor: pointer;" @click="openComment()">点击评论</a></li>
						</ul>
					</div>
				</div>
				<div id="main">
					<div class="scenery" v-for="item in scenery">
						<div class="scenery_top">
							{{item.scenery_title}}
						</div>
						<div class="scenery_img">
							<div class="scenery_img_img" v-for="item1 in item.scenery_img">
								<img :src="item1" width="80%"/>
							</div>
						</div>
						<div class="scenery_content">
							{{item.scenery_content}}
						</div>
					</div>
				</div>
				<div id="comment">
					<div id="comment_top">
						评论
					</div>
					<div id="comment_content">
						<textarea placeholder="此区域输入评论" id="textarea"></textarea>
					</div>
					<div id="comment_footer">
						<input type="button" style="width:100px; height: 40px;
						border: 1px solid #d2d2d2;
						color: #000000;
						border-radius: 2px;
						border: none;"
						value="取消" id="cancle" @click="cancle()"/>
						<input type="button" style="width:100px; height: 40px;
						background-color: #009688;
						color: #FFFFFF;
						border-radius: 2px;
						border: none;"
						value="提交评论" id="commit" @click="commit()"/>
					</div>
				</div>
				
				
				<div id="footer">
					2021-2022-1学期&nbsp;&nbsp;
					Web前端开发技术课程设计&nbsp;&nbsp;
					龙斌&nbsp;&nbsp;
					201909601117&nbsp;&nbsp;
					软件Q193班
				</div>
			</div>
		</div>
		<script src="./js/side.js"></script>
	</body>
</html>